
html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  img {
    max-width: 100%; 
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  img {
    max-width: 50%; 
  }
}

@media (min-width: 1025px) {
  body {
    font-size: 18px;
  }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    grid-template-rows: 10vh auto auto 100vh 70vh;
    background-color: #F4F1DE;
    color: #3D405B;
    display: flex;
    place-content: center;
}

#contenedor {
    width: 90vw;
    height: auto;
    background: #e07a5f;
    display: grid;
    grid-template-rows: 10vh auto auto 100vh 70vh 30vh;
}

#contenedor nav {
    background-color: #F4F1DE;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#logo img {
    width: 60px;
    height: auto;
    margin-left: 10px;
    align-content: center;
}

nav div a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out;
}

nav div a:hover {
    color: #dbfeb8;
    background-color: #99c2a2;
    border-radius: 5px;
}

#contenedor main {
    background-size: contain;
    display: flex ;
    background-color: palevioletred;
	grid-column: 1/2;
    grid-row: 2/3;
    place-content: center;
	align-items: center;
}

#video {
    
	position: relative;
	top: 0;
	bottom: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
    z-index: 1;
}

#cajatx {
   	z-index: 10;
	position: absolute;
	display: flex; 
}

#cajatx p {
    
    display: flex;
	width:300px;
	height: 200px;
	padding: 10px;
	background-color: #7a918d4b;
	color: #FFFFFF;
}

#cajatx .border {
	border-right: 1px solid;
}

#contenedor #sec-1 {
    background-color: #99C2A2;
    padding: 10px;
    grid-row: 3/4;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}

#sec-2 {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between; 
    background: linear-gradient(to bottom, #99C2A2, #E07A5F);
    gap: 20px; 
    padding: 20px;
}

.image-container {
    flex: 1; /* La imagen ocupa la mitad del espacio disponible */
    max-width: 50%; /* Ajusta el ancho máximo */
}

.image-container img {
    width: 100%; /* Asegura que la imagen se ajuste */
    height: auto; /* Mantiene la proporción */
    display: block;
}

.text-container {
    flex: 1; /* Ocupa el otro 50% del espacio */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

#contenedor #sec-3 {
    display: flex; /* Cambiar de grid a flex para un mejor centrado */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #E07A5F, #F2CC8F);
    padding: 20px;
    min-height: 100vh; /* Ocupar toda la pantalla */
}

.galeria-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    max-width: 80vw; /* Asegurar que no sea muy angosto */
    justify-content: center; /* Centrar las imágenes */
}

.imagen {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.imagen img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.imagen:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
	align-items: center;
}

.modal-contenido {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

.cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

footer {
    background: linear-gradient(to bottom, #F2CC8F #E07A5F, #F2CC8F);
    color: #3D405B;
    text-align: center;
    padding: 20px;
}
footer a {
    color: #3D405B;
    text-decoration: none;
    margin: 0 10px;
}
